*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: antiquewhite;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


.mainDiv{
    display: flex;
    flex-direction: row;
}
img{
    width: 30px;
    height: 30px;
}
.cell{
    height: 40px;
    width: 40px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}